{% extends "base.html" %}


{% block body %}
  
  <div class="flex flex-col w-full justify-center items-center mt-2 p-2">

    <form class="flex flex-col"
    id="login"
    hx-post="/login"
    hx-swap="innerHTML"
    hx-target="#error-text"
    >

      <p class="text-xl font-bold text-center text-pink-400">Login</p>

      <input 
        type="text" 
        name="username"
        placeholder="Username" 
        class="border rounded-sm border-pink-400 focus:outline-none border-black mt-2 p-2"
        autocomplete="off"

      >

      <input 
        type="password" 
        name="password"
        placeholder="Password" 
        class="border rounded-sm border-pink-400 focus:outline-none border-black mt-2 p-2"
        autocomplete="off"
      >

      <button class="border-2 border-pink-400 text-pink-400 rounded-md border-black mt-2 p-2" type="submit">
        Submit
      </button>

    </form>
    <p id="error-text" class="text-red-700 font-md text-center mt-2 p-2"></p>
  
  </div>

{% endblock %}
